<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Churrasco</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Fechar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label" ng-repeat="(key, meat) in meatResult track by $index"> {{ key }} {{ meat }} </span>
      </label>
      <label class="item item-input">
        <span class="input-label" ng-repeat="(key, drink) in drinkResult track by $index"> {{ key }} {{ drink }} </span>
      </label>
      <label class="item item-input">
        <span class="input-label" ng-repeat="(key, other) in otherResult track by $index"> {{ key }} {{ other }} </span>
      </label>
      <button class="button button-full button-positive" ng-click="saveBarbecue()">Salvar Cálculo</button>
    </div>
  </ion-content>
</ion-modal-view>
