<ion-view view-title="Outros">
 	<ion-content class="padding" ng-controller="mainController">
 		<button class="button icon ion-ios-arrow-back" ng-click="goBack()" nav-direction="back">OK!</button>
	    <ion-list clas="products others">
	      <div class="item item-divider">Outros</div>
	      <ion-checkbox ng-model="filter.outros">Outros</ion-checkbox>
	      <ion-checkbox ng-model="filter.outros1">Outros</ion-checkbox>
	      <ion-checkbox ng-model="filter.outros2">Outros</ion-checkbox>
	      <ion-checkbox ng-model="filter.outros3">Outros</ion-checkbox>
	    </ion-list>
	    <button class="button button-block button-assertive" ng-click="goBack()" nav-direction="back">OK</button>
	</ion-content>
</ion-view>