<ion-view view-title="Churrasculadora" cache-view="false" ng-controller="mainController">
  <ion-content class="padding">

    <!-- <div class="" align="center"><h1>Quem vai?</h1></div> -->
    <div class="row">
      <div class="col card" align="center">
        <img src="img/man-kiss.png"><br />Homens
        <!-- <i class="icon ion-man dark iconPersons"></i><br />Homens -->
        <label class="item item-input">
          <i class="icon ion-ios-grid-view-outline placeholder-icon"></i>
          <input type="text" placeholder="Quantidade" value='{{ manQuantity }}' ng-model="manQuantity" ng-blur="saveQuantity( manQuantity, 'man');">
        </label>
      </div>
      
      <div class="col card" align="center">
        <img src="img/woman-kiss2.png"><br />Mulheres
        <!-- <i class="icon ion-woman dark iconPersons"></i><br />Mulheres -->
        <label class="item item-input">
          <i class="icon ion-ios-grid-view-outline placeholder-icon"></i>
          <input type="text" placeholder="Quantidade" value='{{ womanQuantity }}' ng-model="womanQuantity" ng-blur="saveQuantity( manQuantity, 'woman');">
        </label>      
      </div>
      
      <div class="col card" align="center">
        <img src="img/child-kiss2.png"><br />Crianças
        <!-- <i class="icon ion-ios-body iconPersonsChild dark iconPersons"></i><br />Crianças -->
        <label class="item item-input">
          <i class="icon ion-ios-grid-view-outline placeholder-icon"></i>
          <input type="text" placeholder="Quantidade" value='{{ childQuantity }}' ng-model="childQuantity" ng-blur="saveQuantity( manQuantity, 'child');">
        </label>      
      </div>
    </div>

    
    <!--
    <a nav-transition="none" href="#/meats">
      <button class="button button-positive">
        Carnes
      </button>
    </a> <br /><br />
    
    <a nav-transition="android" href="#/meats">
      <button class="button button-positive">
        Carnes
      </button>
    </a> <br /><br />        
    -->
    <div class="" align="center"><h4>Escolha os itens</h4></div>
    <div class="row">
      <div class="col" align="center">
        <button class="button button-positive button-block" ng-click="changePage('meats')">
          Carnes
        </button>
      </div>   
      <div class="col" align="center">
        <button class="button button-positive button-block" ng-click="changePage('drinks')">
          Bebidas
        </button>
      </div>
      <div class="col" align="center">
        <button class="button button-positive button-block" ng-click="changePage('others')">
          Outros
        </button> 
      </div>
      <br />

    </div>
    <div class="row">
      <div class="col" align="center">
        <p class="itens-choosed"> {{ meatList }} </p>
      </div>
      <div class="col" align="center">
        <p class="itens-choosed"> {{ drinkList }} </p>
      </div>
      <div class="col" align="center">
        <p class="itens-choosed"> {{ otherList }} </p>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-assertive tabs">
    <div class="tab-item tab-item-active">
      <button class="button textFooter" ng-click="calcBarbecue();">
        <div class="textFooter"> Calcular Churrasco! </div>
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
