<ion-view view-title="Churrasculadora" cache-view="false">
  <ion-content class="padding" ng-controller="mainController">
   
    <div class="row">
      <div class="col card" align="center">
        <i class="icon ion-man dark iconPersons"></i><br />Homens
        <label class="item item-input">
          <i class="icon ion-ios-grid-view-outline placeholder-icon"></i>
          <input type="text" placeholder="Quantidade" value='{{ manQuantity }}' ng-model="manQuantity" ng-blur="saveQuantity( manQuantity, 'man');">
        </label>
      </div>
      
      <div class="col card" align="center">
        <i class="icon ion-woman dark iconPersons"></i><br />Mulheres
        <label class="item item-input">
          <i class="icon ion-ios-grid-view-outline placeholder-icon"></i>
          <input type="text" placeholder="Quantidade" value='{{ womanQuantity }}' ng-model="womanQuantity" ng-blur="saveQuantity( manQuantity, 'woman');">
        </label>      
      </div>
      
      <div class="col card" align="center">
        <i class="icon ion-ios-body iconPersonsChild dark iconPersons"></i><br />Crianças
        <label class="item item-input">
          <i class="icon ion-ios-grid-view-outline placeholder-icon"></i>
          <input type="text" placeholder="Quantidade" value='{{ childQuantity }}' ng-model="childQuantity" ng-blur="saveQuantity( manQuantity, 'child');">
        </label>      
      </div>
    </div>

    
    <!--
    <a nav-transition="none" href="#/meats">
      <button class="button button-positive">
        Carnes
      </button>
    </a> <br /><br />
    
    <a nav-transition="android" href="#/meats">
      <button class="button button-positive">
        Carnes
      </button>
    </a> <br /><br />        
    -->
    <button class="button button-positive button-block" ng-click="changePage('meats')">
      Escolher Carnes
    </button>
    <p> {{ meatList }} </p>
    <button class="button button-positive button-block" ng-click="changePage('drinks')">
      Escolher Bebidas
    </button>
    <p> {{ drinkList }} </p>
    <button class="button button-positive button-block" ng-click="changePage('others')">
      Outros
    </button> 
    <p> {{ otherList }} </p>
    <br />
    <button class="button button-block button-assertive" ng-click="calcBarbecue(); modal.show();">
     Calcular Churrasco!
    </button>

  </ion-content>
</ion-view>
