/* Empty. Add your own CSS if you like */
.iconPersons {
    font-size: 100px;
}

.iconPersonsChild {
	font-size: 100px;
}

.item-checkbox-img {
  vertical-align: middle;
  position: absolute;
  top: 0px;
  right: 15px;
  height: 100%;
}
